webservice/soap/moodle.wsdl

<?xml version ='1.0' encoding ='UTF-8' ?>
    <definitions name='User'
                 targetNamespace='http://example.org/User'
                 xmlns:tns=' http://example.org/User '
                 xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/'
                 xmlns:xsd='http://www.w3.org/2001/XMLSchema'
                 xmlns:soapenc='http://schemas.xmlsoap.org/soap/encoding/'
                 xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'
                 xmlns='http://schemas.xmlsoap.org/wsdl/'>

        <types>
            <xsd:schema targetNamespace="http://example.org/User"
                        xmlns="http://www.w3.org/2001/XMLSchema">
                <xsd:complexType name="object">
                </xsd:complexType>
            </xsd:schema>
        </types>

        <message name="tmp_get_usersRequest">
            <part name="search" type="xsd:string"/>
        </message>
        <message name="tmp_get_usersResponse">
            <part name="user" type="xsd:object"/>
        </message>
        <message name="tmp_create_userRequest">
            <part name="username" type="xsd:string"/>
            <part name="firstname" type="xsd:string"/>

            <part name="lastname" type="xsd:string"/>
            <part name="email" type="xsd:string"/>
            <part name="password" type="xsd:string"/>
        </message>
        <message name="tmp_create_userResponse">
            <part name="userid" type="xsd:string"/>
        </message>
        <message name="tmp_namedparams_get_usersRequest">
            <part name="search" type="xsd:string"/>

        </message>
        <message name="tmp_namedparams_get_usersResponse">
            <part name="user" type="xsd:object"/>
        </message>
        <message name="tmp_delete_userRequest">
            <part name="username" type="xsd:string"/>
            <part name="mnethostid" type="xsd:integer"/>
        </message>
        <message name="tmp_delete_userResponse">

            <part name="result" type="xsd:object"/>
        </message>
        <message name="tmp_update_userRequest">
            <part name="username" type="xsd:string"/>
            <part name="mnethostid" type="xsd:integer"/>
            <part name="newusername" type="xsd:string"/>
            <part name="firstname" type="xsd:string"/>
        </message>
        <message name="tmp_update_userResponse">

            <part name="result" type="xsd:object"/>
        </message>
        <portType name='userPortType'>
            <operation name='tmp_get_users'>
                <input message='tns:tmp_get_usersRequest'/>
                <output message='tns:tmp_get_usersResponse'/>
            </operation>

            <operation name='tmp_create_user'>

                <input message='tns:tmp_create_userRequest'/>
                <output message='tns:tmp_create_userResponse'/>
            </operation>

            <operation name='tmp_namedparams_get_users'>
                <input message='tns:tmp_namedparams_get_usersRequest'/>
                <output message='tns:tmp_namedparams_get_usersResponse'/>
            </operation>

            <operation name='tmp_delete_user'>

                <input message='tns:tmp_delete_userRequest'/>
                <output message='tns:tmp_delete_userResponse'/>
            </operation>

            <operation name='tmp_update_user'>
                <input message='tns:tmp_update_userRequest'/>
                <output message='tns:tmp_update_userResponse'/>
            </operation>
        </portType>

        <binding name='userBinding' type='tns:userPortType'>
            <soap:binding style='rpc'
                          transport='http://schemas.xmlsoap.org/soap/http'/>

            <operation name='tmp_get_users'>
                <soap:operation soapAction='urn:xmethods-delayed-quotes#tmp_get_users'/>
                <input>
                    <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
                               encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
                </input>
                <output>

                    <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
                               encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
                </output>
           </operation>

            <operation name='tmp_create_user'>
                <soap:operation soapAction='urn:xmethods-delayed-quotes#tmp_create_user'/>
                <input>
                    <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
                               encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
                </input>

                <output>
                    <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
                               encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
                </output>
           </operation>

            <operation name='tmp_namedparams_get_users'>
                <soap:operation soapAction='urn:xmethods-delayed-quotes#tmp_namedparams_get_users'/>
                <input>
                    <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
                               encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>

                </input>
                <output>
                    <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
                               encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
                </output>
           </operation>

            <operation name='tmp_delete_user'>
                <soap:operation soapAction='urn:xmethods-delayed-quotes#tmp_delete_user'/>
                <input>

                    <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
                               encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
                </input>
                <output>
                    <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
                               encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
                </output>
           </operation>

            <operation name='tmp_update_user'>
                <soap:operation soapAction='urn:xmethods-delayed-quotes#tmp_update_user'/>

                <input>
                    <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
                               encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
                </input>
                <output>
                    <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
                               encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
                </output>
           </operation>
        </binding>

        <service name='userService'>
                <port name='userPort' binding='userBinding'>
                    <soap:address location='http://jerome.moodle.com/Moodle_HEAD/moodle/webservice/soap/server.php?classpath=user'/>
                </port>
        </service>
    </definitions>
