mod/turnitintooltwo/sdk/wsdl/lis-membership.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl11:definitions xmlns:tns="http://www.imsglobal.org/services/lis/mms2p0/wsdl11/sync/imsmms_v2p0" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl11="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="MembershipManagementServiceSyncServices" targetNamespace="http://www.imsglobal.org/services/lis/mms2p0/wsdl11/sync/imsmms_v2p0">
    <wsdl11:documentation>
        WSDLv1.1 File Information
        -------------------------
        Services:       MembershipManagementService (Synchronous Communications)
        Author:         Colin Smythe
        Date:           31st January, 2010
        Version:        1.0
        Status:         Public Draft
        Description:    The Membership Management Service.

        History:        Version 1.0: This is the first formal release of this service.

        WSDL Binding:   WSDL Binding is based upon the IMS GLC General Web Services Base Profile v1.0
                        The IMS GLC GWS Basic Profile is derived from the WS-I Basic Profile v1.1.  This
                        profile uses: WSDL 1.1, SOAP 1.1, HTTP 1.1 and XML 1.0.  Extension profiles to
                        the IMS GLC GWS Base Profile are available but are not supported using this tool version.

        License:        IPR, License and Distribution Notices

                        This machine readable file is derived from IMS Global Learning Consortium (GLC) specification 
                        IMS GLC LIS Membership Management Service Version 2.0 found at http://www.imsglobal.org/lis and the 
                        original IMS GLC schema binding or code base http://www.imsglobal.org/lis.

                        Recipients of this document are requested to submit, with their comments, notification of any
                        relevant patent claims or other intellectual property rights of which they may be aware that might be
                        infringed by the schema binding contained in this document.

                        IMS GLC takes no position regarding the validity or scope of any intellectual property or other
                        rights that might be claimed to pertain to the implementation or use of the technology described in this
                        document or the extent to which any license under such rights might or might not be available; neither
                        does it represent that it has made any effort to identify any such rights. Information on IMS GLCs
                        procedures with respect to rights in IMS GLC specifications can be found at the IMS GLC Intellectual Property
                        Rights web page: http://www.imsglobal.org/ipr/imsipr_policyFinal.pdf.

                        Copyright (c) IMS Global Learning Consortium 1999-2009. All Rights Reserved.

                        License Notice for Users

                        Users of products or services that include this document are hereby granted a worldwide, royalty-free, 
                        non-exclusive license to use this document.

                        Distribution Notice for Developers

                        Developers of products or services that are not original incorporators of this document and
                        have not changed this document, that is, are distributing a software product that incorporates this 
                        document as is from a third-party source other than IMS, are hereby granted permission to copy,
                        display and distribute the contents of this document in any medium for any purpose without fee or
                        royalty provided that you include this IPR, License and Distribution notice in its entirety on ALL
                        copies, or portions thereof.

                        Developers of products or services that are original incorporators of this document and wish
                        to provide distribution of this document as is or with modifications and developers of products and 
                        services that are not original incorporators of this document and have changed this document, are
                        required to register with the IMS GLC community on the IMS GLC website as described in the following two
                        paragraphs:-

                        *  If you wish to distribute this document as is, with no modifications, you are hereby granted
                           permission to copy, display and distribute the contents of this document in any medium for any
                           purpose without fee or royalty provided that you include this IPR, License and Distribution notice in
                           its entirety on ALL copies, or portions thereof, that you make and you complete a valid license
                           registration with IMS and receive an email from IMS granting the license. To register, follow the
                           instructions on the IMS website: http://www.imsglobal.org/specificationdownload.cfm. Once
                           registered you are granted permission to transfer unlimited distribution rights of this document for the
                           purposes of third-party or other distribution of your product or service that incorporates this
                           document as long as this IPR, License and Distribution notice remains in place in its entirety;

                        *  If you wish to create and distribute a derived work from this document, you are hereby
                           granted permission to copy, display and distribute the contents of the derived work in any medium for
                           any purpose without fee or royalty provided that you include this IPR, License and Distribution 
                           notice in its entirety on ALL copies, or portions thereof, that you make and you complete a valid
                           profile registration with IMS GLC and receive an email from IMS GLC granting the license. To register, follow
                           the instructions on the IMS GLC website: http://www.imsglobal.org/profile/. Once registered you are 
                           granted permission to transfer unlimited distribution rights of the derived work for the purposes of 
                           third-party or other distribution of your product or service that incorporates the derived work as long
                           as this IPR, License and Distribution notice remains in place in its entirety.

                        The limited permissions granted above are perpetual and will not be revoked by IMS GLC or its 
                        successors or assigns.

                        THIS SPECIFICATION IS BEING OFFERED WITHOUT ANY WARRANTY WHATSOEVER, AND IN PARTICULAR, ANY WARRANTY OF NONINFRINGEMENT IS
                        EXPRESSLY DISCLAIMED. ANY USE OF THIS SPECIFICATION SHALL BE MADE ENTIRELY AT THE IMPLEMENTERS OWN RISK, AND NEITHER THE CONSORTIUM
                        NOR ANY OF ITS MEMBERS OR SUBMITTERS, SHALL HAVE ANY LIABILITY WHATSOEVER TO ANY IMPLEMENTER OR THIRD PARTY FOR ANY DAMAGES OF
                        ANY NATURE WHATSOEVER, DIRECTLY OR INDIRECTLY, ARISING FROM THE USE OF THIS SPECIFICATION.

        UML Source File Information
        ---------------------------
        Choreography:     Sync
        Transport:        SOAPv1.1

        Source UML File Information
        ---------------------------
        The source file information must be supplied as an XMI file (without diagram layout information).
        The supported UML authoring tools are:
        (a) Poseidon – v6 (and later)

        Source XSLT File Information
        ----------------------------
        XSL Generator:    UMLtoWSDLv1.1Transformv0p9.xsl
        XSLT Processor:   Xalan
        Release:          1.0 Beta 3
        Date:             31st May, 2009

        IMS GLC Auto-generation Binding Tool-kit (I-BAT)
        ------------------------------------------------
        This file was auto-generated using the IMS GLC Binding Auto-generation Tool-kit (I-BAT).  While every
        attempt has been made to ensure that this tool auto-generates the files correctly, users should be aware
        that this is an experimental tool.  Permission is given to make use of this tool.  IMS GLC makes no
        claim on the materials created by third party users of this tool.  Details on how to use this tool
        are contained in the IMS GLC "I-BAT" Documentation available at the IMS GLC web-site.

        Tool Copyright:  2005-2009 (c) IMS Global Learning Consortium Inc.  All Rights Reserved.
    </wsdl11:documentation>

    <!-- Declaration of the WSDL type elements ************************************************************ -->

    <wsdl11:types>
        <xs:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.imsglobal.org/services/lis/mms2p0/wsdl11/sync/imsmms_v2p0" version="IMS MMS 2.0" elementFormDefault="qualified" attributeFormDefault="unqualified">

        <!-- Generate Global Attributes *********************************************************************** -->

        <!-- ================================================================================================== -->

        <!-- Generate Namespaced extension Group  ************************************************************* -->

        <!-- ================================================================================================== -->

        <!-- Generate the enumerated simpleType declarations ************************************************** -->

        <xs:simpleType name="MembershipIdType.Type">
            <xs:restriction base="xs:string">
                <xs:enumeration value="courseTemplate"/>
                <xs:enumeration value="courseOffering"/>
                <xs:enumeration value="courseSection"/>
                <xs:enumeration value="sectionAssociation"/>
                <xs:enumeration value="group"/>
            </xs:restriction>
        </xs:simpleType>

        <xs:simpleType name="Status.Type">
            <xs:restriction base="xs:string">
                <xs:enumeration value="Active"/>
                <xs:enumeration value="Inactive"/>
            </xs:restriction>
        </xs:simpleType>

        <xs:simpleType name="imsx_CodeMajor.Type">
            <xs:restriction base="xs:string">
                <xs:enumeration value="success"/>
                <xs:enumeration value="processing"/>
                <xs:enumeration value="failure"/>
                <xs:enumeration value="unsupported"/>
            </xs:restriction>
        </xs:simpleType>

        <xs:simpleType name="imsx_Severity.Type">
            <xs:restriction base="xs:string">
                <xs:enumeration value="status"/>
                <xs:enumeration value="warning"/>
                <xs:enumeration value="error"/>
            </xs:restriction>
        </xs:simpleType>

        <xs:simpleType name="imsx_CodeMinorValue.Type">
            <xs:restriction base="xs:string">
                <xs:enumeration value="fullsuccess"/>
                <xs:enumeration value="nosourcedids"/>
                <xs:enumeration value="idalloc"/>
                <xs:enumeration value="overflowfail"/>
                <xs:enumeration value="idallocinusefail"/>
                <xs:enumeration value="invaliddata"/>
                <xs:enumeration value="incompletedata"/>
                <xs:enumeration value="partialdatastorage"/>
                <xs:enumeration value="unknownobject"/>
                <xs:enumeration value="deletefailure"/>
                <xs:enumeration value="targetreadfailure"/>
                <xs:enumeration value="savepointerror"/>
                <xs:enumeration value="savepointsyncerror"/>
                <xs:enumeration value="unknownquery"/>
                <xs:enumeration value="unknownvocab"/>
                <xs:enumeration value="targetisbusy"/>
                <xs:enumeration value="unknownextension"/>
                <xs:enumeration value="unauthorizedrequest"/>
                <xs:enumeration value="linkfailure"/>
                <xs:enumeration value="unsupportedLIS"/>
                <xs:enumeration value="unsupportedLISoperation"/>
            </xs:restriction>
        </xs:simpleType>

        <xs:simpleType name="LanguageSet.Type">
            <xs:restriction base="xs:string">
                <xs:enumeration value="en"/>
                <xs:enumeration value="fr"/>
                <xs:enumeration value="en-US"/>
            </xs:restriction>
        </xs:simpleType>

        <xs:simpleType name="FieldType.Type">
            <xs:restriction base="xs:string">
                <xs:enumeration value="Boolean"/>
                <xs:enumeration value="Integer"/>
                <xs:enumeration value="String"/>
                <xs:enumeration value="Real"/>
                <xs:enumeration value="DateTime"/>
            </xs:restriction>
        </xs:simpleType>

        <xs:element name="membershipIdType" type="tns:MembershipIdType.Type"/>

        <xs:element name="status" type="tns:Status.Type"/>

        <xs:element name="imsx_codeMajor" type="tns:imsx_CodeMajor.Type"/>

        <xs:element name="imsx_severity" type="tns:imsx_Severity.Type"/>

        <xs:element name="imsx_codeMinorFieldValue" type="tns:imsx_CodeMinorValue.Type"/>

        <xs:element name="language" type="tns:LanguageSet.Type"/>

        <xs:element name="fieldType" type="tns:FieldType.Type"/>

        <!-- ================================================================================================== -->

        <!-- Generate the simpleType elements based IMS data-types  ******************************************* -->

        <xs:element name="roleType" type="xs:string"/>

        <xs:element name="subRole" type="xs:string"/>

        <xs:element name="dateTime" type="xs:dateTime"/>

        <xs:element name="creditHours" type="xs:integer"/>

        <xs:element name="refAgentInstanceID" type="xs:normalizedString"/>

        <xs:element name="imsx_messageRefIdentifier" type="xs:string"/>

        <xs:element name="imsx_operationRefIdentifier" type="xs:string"/>

        <xs:element name="imsx_description" type="xs:string"/>

        <xs:element name="imsx_codeMinorFieldName" type="xs:string" default="TargetEndSystem"/>

        <xs:element name="imsx_version" type="xs:string"/>

        <xs:element name="imsx_messageIdentifier" type="xs:string"/>

        <xs:element name="textString" type="xs:string"/>

        <xs:element name="begin" type="xs:dateTime"/>

        <xs:element name="end" type="xs:dateTime"/>

        <xs:element name="restrict" type="xs:boolean"/>

        <xs:element name="metadataNameVocabulary" type="xs:anyURI"/>

        <xs:element name="metadataTypeVocabulary" type="xs:anyURI"/>

        <xs:element name="extensionNameVocabulary" type="xs:anyURI"/>

        <xs:element name="extensionTypeVocabulary" type="xs:anyURI"/>

        <xs:element name="fieldName" type="xs:string"/>

        <xs:element name="fieldValue" type="xs:string"/>

        <!-- ================================================================================================== -->

        <!-- Generate the data-type ComplexTypes ************************************************************** -->

        <xs:complexType name="Membership.Type">
            <xs:annotation>
                <xs:documentation source="umlcommentbox">
                    The Membership data-type is the container for the Membership 
                    data model.  The SourcedId is that of the collection object.  Each 
                    membership has a single Person as its member.
                </xs:documentation>
            </xs:annotation>
            <xs:sequence>
                <xs:element ref="tns:collectionSourcedId" minOccurs="1" maxOccurs="1"/>
                <xs:element ref="tns:membershipIdType" minOccurs="1" maxOccurs="1"/>
                <xs:element ref="tns:member" minOccurs="1" maxOccurs="1"/>
                <xs:element ref="tns:dataSource" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>

        <xs:complexType name="Member.Type">
            <xs:annotation>
                <xs:documentation source="umlcommentbox">
                    The Member data-type is the container for the information about the 
                    Person who is the member.  Each Person must have one or more 
                    roles.
                </xs:documentation>
            </xs:annotation>
            <xs:sequence>
                <xs:element ref="tns:personSourcedId" minOccurs="1" maxOccurs="1"/>
                <xs:element ref="tns:role" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>

        <xs:complexType name="Role.Type">
            <xs:annotation>
                <xs:documentation source="umlcommentbox">
                    The Role data-type is the container for the information about the 
                    role for the Person.  The roleType and subRole are defined using 
                    external vocabularies defined in VDEX files.
                </xs:documentation>
            </xs:annotation>
            <xs:sequence>
                <xs:element ref="tns:roleType" minOccurs="1" maxOccurs="1"/>
                <xs:element ref="tns:subRole" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="tns:timeFrame" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="tns:status" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="tns:dateTime" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="tns:creditHours" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="tns:dataSource" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="tns:recordInfo" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="tns:extension" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>

        <xs:complexType name="MembershipRecord.Type">
            <xs:annotation>
                <xs:documentation source="umldocumentation">
                    This membershipRecord complexType is the top-level container used to associate the SourcedGUID with the 
actual Membership object.  This contains the sourcedId of the membership object itself.
                </xs:documentation>
            </xs:annotation>
            <xs:sequence>
                <xs:element ref="tns:sourcedGUID" minOccurs="1" maxOccurs="1"/>
                <xs:element ref="tns:membership" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>

        <xs:complexType name="SourcedGUID.Type">
            <xs:annotation>
                <xs:documentation source="umldocumentation">
                    The SourcedGUID complexType is the container for the extended sourcedId.  The extension is the reference 
agent instance identifier.
                </xs:documentation>
            </xs:annotation>
            <xs:sequence>
                <xs:element ref="tns:refAgentInstanceID" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="tns:sourcedId" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>

        <xs:complexType name="MembershipRecordSet.Type">
            <xs:annotation>
                <xs:documentation source="umldocumentation">
                    The MembershipRecordSet is the complexType to contain a set of membership records.
                </xs:documentation>
            </xs:annotation>
            <xs:sequence>
                <xs:element ref="tns:membershipRecord" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>

        <xs:complexType name="imsx_StatusInfo.Type">
            <xs:sequence>
                <xs:element ref="tns:imsx_codeMajor" minOccurs="1" maxOccurs="1"/>
                <xs:element ref="tns:imsx_severity" minOccurs="1" maxOccurs="1"/>
                <xs:element ref="tns:imsx_messageRefIdentifier" minOccurs="1" maxOccurs="1"/>
                <xs:element ref="tns:imsx_operationRefIdentifier" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="tns:imsx_description" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="tns:imsx_codeMinor" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>

        <xs:complexType name="imsx_CodeMinor.Type">
            <xs:sequence>
                <xs:element ref="tns:imsx_codeMinorField" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>

        <xs:complexType name="imsx_CodeMinorField.Type">
            <xs:sequence>
                <xs:element ref="tns:imsx_codeMinorFieldName" minOccurs="1" maxOccurs="1"/>
                <xs:element ref="tns:imsx_codeMinorFieldValue" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>

        <xs:complexType name="imsx_RequestHeaderInfo.Type">
            <xs:sequence>
                <xs:element ref="tns:imsx_version" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="tns:imsx_messageIdentifier" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>

        <xs:complexType name="imsx_ResponseHeaderInfo.Type">
            <xs:sequence>
                <xs:element ref="tns:imsx_version" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="tns:imsx_messageIdentifier" minOccurs="1" maxOccurs="1"/>
                <xs:element ref="tns:imsx_statusInfo" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>

        <xs:complexType name="GUIDSet.Type">
            <xs:annotation>
                <xs:documentation source="umlcommentbox">
                    The GUIDSet data-type is the container for a set 
                    of SourcedIds.
                </xs:documentation>
            </xs:annotation>
            <xs:sequence>
                <xs:element ref="tns:sourcedId" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>

        <xs:complexType name="Text.Type">
            <xs:annotation>
                <xs:documentation source="umldocumentation">
                    The Text complexType is the container for a language specific string.  
The language is denoted using the ISO 639 code set.
                </xs:documentation>
            </xs:annotation>
            <xs:sequence>
                <xs:element ref="tns:language" minOccurs="1" maxOccurs="1"/>
                <xs:element ref="tns:textString" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>

        <xs:complexType name="TimeFrame.Type">
            <xs:annotation>
                <xs:documentation source="umldocumentation">
                    The TimeFrame complexType is the container for time information about this role.
                </xs:documentation>
            </xs:annotation>
            <xs:sequence>
                <xs:element ref="tns:begin" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="tns:end" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="tns:restrict" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="tns:adminPeriod" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>

        <xs:complexType name="Metadata.Type">
            <xs:annotation>
                <xs:documentation source="umldocumentation">
                    The Metadata complexType is the container for meta-data thta is used to describe and object. 
At the current time this is ust a set of name/type/value triples.
                </xs:documentation>
            </xs:annotation>
            <xs:sequence>
                <xs:element ref="tns:metadataNameVocabulary" minOccurs="1" maxOccurs="1"/>
                <xs:element ref="tns:metadataTypeVocabulary" minOccurs="1" maxOccurs="1"/>
                <xs:element ref="tns:extensionField" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>

        <xs:complexType name="IMSExtension.Type">
            <xs:annotation>
                <xs:documentation source="umldocumentation">
                    The IMSExtension complexType is the container for the set of extension information.
                </xs:documentation>
            </xs:annotation>
            <xs:sequence>
                <xs:element ref="tns:extensionNameVocabulary" minOccurs="1" maxOccurs="1"/>
                <xs:element ref="tns:extensionTypeVocabulary" minOccurs="1" maxOccurs="1"/>
                <xs:element ref="tns:extensionField" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>

        <xs:complexType name="ExtensionField.Type">
            <xs:annotation>
                <xs:documentation source="umldocumentation">
                    The ExtensionField complexType is the container for each of the extension entries. 
This is a name/type/value triple.
                </xs:documentation>
            </xs:annotation>
            <xs:sequence>
                <xs:element ref="tns:fieldName" minOccurs="1" maxOccurs="1"/>
                <xs:element ref="tns:fieldType" minOccurs="1" maxOccurs="1"/>
                <xs:element ref="tns:fieldValue" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>

        <!-- ================================================================================================== -->

        <!-- Generate the derived data-type elements based upon simpleType ************************************ -->

        <xs:simpleType name="GUID.Type">
            <xs:restriction base="xs:string"/>
        </xs:simpleType>

        <xs:simpleType name="SequenceIdentifier.Type">
            <xs:restriction base="xs:dateTime"/>
        </xs:simpleType>

        <xs:simpleType name="QueryObject.Type">
            <xs:restriction base="xs:string"/>
        </xs:simpleType>

        <!-- ================================================================================================== -->

        <!-- Generate the derived data-type elements based upon derived simpleType **************************** -->

        <!-- ================================================================================================== -->

        <!-- Declaration of the elements ********************************************************************** -->

        <xs:element name="member" type="tns:Member.Type"/>

        <xs:element name="timeFrame" type="tns:TimeFrame.Type"/>

        <xs:element name="recordInfo" type="tns:Metadata.Type"/>

        <xs:element name="extension" type="tns:IMSExtension.Type"/>

        <xs:element name="sourcedGUID" type="tns:SourcedGUID.Type"/>

        <xs:element name="membership" type="tns:Membership.Type"/>

        <xs:element name="imsx_codeMinor" type="tns:imsx_CodeMinor.Type"/>

        <xs:element name="imsx_codeMinorField" type="tns:imsx_CodeMinorField.Type"/>

        <xs:element name="imsx_statusInfo" type="tns:imsx_StatusInfo.Type"/>

        <xs:element name="adminPeriod" type="tns:Text.Type"/>

        <xs:element name="extensionField" type="tns:ExtensionField.Type"/>

        <xs:element name="collectionSourcedId" type="tns:GUID.Type"/>

        <xs:element name="dataSource" type="tns:GUID.Type"/>

        <!-- ================================================================================================== -->

        <!-- Declaration of the message parameter elements **************************************************** -->

        <xs:element name="sourcedId" type="tns:GUID.Type"/>

        <xs:element name="membershipRecord" type="tns:MembershipRecord.Type"/>

        <xs:element name="sourcedIdSet" type="tns:GUIDSet.Type"/>

        <xs:element name="fromSavePoint" type="tns:SequenceIdentifier.Type"/>

        <xs:element name="savePoint" type="tns:SequenceIdentifier.Type"/>

        <xs:element name="personSourcedId" type="tns:GUID.Type"/>

        <xs:element name="role" type="tns:Role.Type"/>

        <xs:element name="groupSourcedId" type="tns:GUID.Type"/>

        <xs:element name="collection" type="tns:MembershipIdType.Type"/>

        <xs:element name="membershipRecordSet" type="tns:MembershipRecordSet.Type"/>

        <xs:element name="queryObject" type="tns:QueryObject.Type"/>

        <xs:element name="newSourcedId" type="tns:GUID.Type"/>

        <!-- ================================================================================================== -->

        <!-- Declaration of the message body elements ********************************************************* -->

        <xs:element name="createMembershipRequest">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="tns:sourcedId"/>
                    <xs:element ref="tns:membershipRecord"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>

        <xs:element name="createMembershipResponse">
            <xs:complexType/>
        </xs:element>

        <xs:element name="createByProxyMembershipRequest">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="tns:membershipRecord"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>

        <xs:element name="createByProxyMembershipResponse">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="tns:sourcedId" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            </xs:complexType>
        </xs:element>

        <xs:element name="deleteMembershipRequest">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="tns:sourcedId"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>

        <xs:element name="deleteMembershipResponse">
            <xs:complexType/>
        </xs:element>

        <xs:element name="readMembershipRequest">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="tns:sourcedId"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>

        <xs:element name="readMembershipResponse">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="tns:membershipRecord" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            </xs:complexType>
        </xs:element>

        <xs:element name="readAllMembershipIdsRequest">
            <xs:complexType/>
        </xs:element>

        <xs:element name="readAllMembershipIdsResponse">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="tns:sourcedIdSet" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            </xs:complexType>
        </xs:element>

        <xs:element name="readMembershipIdsFromSavePointRequest">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="tns:fromSavePoint"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>

        <xs:element name="readMembershipIdsFromSavePointResponse">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="tns:sourcedIdSet" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="tns:savePoint" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            </xs:complexType>
        </xs:element>

        <xs:element name="readMembershipIdsForPersonRequest">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="tns:personSourcedId"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>

        <xs:element name="readMembershipIdsForPersonResponse">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="tns:sourcedIdSet" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            </xs:complexType>
        </xs:element>

        <xs:element name="readMembershipIdsForPersonWithRoleRequest">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="tns:personSourcedId"/>
                    <xs:element ref="tns:role"/>
                    <xs:element ref="tns:sourcedIdSet"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>

        <xs:element name="readMembershipIdsForPersonWithRoleResponse">
            <xs:complexType/>
        </xs:element>

        <xs:element name="readMembershipIdsForCollectionRequest">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="tns:groupSourcedId"/>
                    <xs:element ref="tns:collection"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>

        <xs:element name="readMembershipIdsForCollectionResponse">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="tns:sourcedIdSet" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            </xs:complexType>
        </xs:element>

        <xs:element name="readMembershipsRequest">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="tns:sourcedIdSet"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>

        <xs:element name="readMembershipsResponse">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="tns:membershipRecordSet" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="tns:savePoint" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            </xs:complexType>
        </xs:element>

        <xs:element name="readMembershipsFromSavePointRequest">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="tns:fromSavePoint"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>

        <xs:element name="readMembershipsFromSavePointResponse">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="tns:membershipRecordSet" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="tns:savePoint" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            </xs:complexType>
        </xs:element>

        <xs:element name="updateMembershipRequest">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="tns:sourcedId"/>
                    <xs:element ref="tns:membershipRecord"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>

        <xs:element name="updateMembershipResponse">
            <xs:complexType/>
        </xs:element>

        <xs:element name="replaceMembershipRequest">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="tns:sourcedId"/>
                    <xs:element ref="tns:membershipRecord"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>

        <xs:element name="replaceMembershipResponse">
            <xs:complexType/>
        </xs:element>

        <xs:element name="discoverMembershipIdsRequest">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="tns:queryObject"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>

        <xs:element name="discoverMembershipIdsResponse">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="tns:sourcedIdSet" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            </xs:complexType>
        </xs:element>

        <xs:element name="changeMembershipIdentifierRequest">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="tns:sourcedId"/>
                    <xs:element ref="tns:newSourcedId"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>

        <xs:element name="changeMembershipIdentifierResponse">
            <xs:complexType/>
        </xs:element>

        <!-- ================================================================================================== -->

        <!-- Declaration of the root element(s) *************************************************************** -->

        <xs:element name="imsx_syncRequestHeaderInfo" type="tns:imsx_RequestHeaderInfo.Type"/>
        <xs:element name="imsx_syncResponseHeaderInfo" type="tns:imsx_ResponseHeaderInfo.Type"/>

        <!-- ================================================================================================== -->

        </xs:schema>
    </wsdl11:types>

    <!-- ================================================================================================== -->

    <!-- Declaration of the WSDL message elements ********************************************************* -->

    <wsdl11:message name="createMembershipRequest">
        <wsdl11:part name="Parameters" element="tns:createMembershipRequest"/>
        <wsdl11:part name="HeaderInfoParameters" element="tns:imsx_syncRequestHeaderInfo"/>
    </wsdl11:message>
    <wsdl11:message name="createMembershipResponse">
        <wsdl11:part name="Response" element="tns:createMembershipResponse"/>
        <wsdl11:part name="HeaderInfoResponse" element="tns:imsx_syncResponseHeaderInfo"/>
    </wsdl11:message>
    <wsdl11:message name="createByProxyMembershipRequest">
        <wsdl11:part name="Parameters" element="tns:createByProxyMembershipRequest"/>
        <wsdl11:part name="HeaderInfoParameters" element="tns:imsx_syncRequestHeaderInfo"/>
    </wsdl11:message>
    <wsdl11:message name="createByProxyMembershipResponse">
        <wsdl11:part name="Response" element="tns:createByProxyMembershipResponse"/>
        <wsdl11:part name="HeaderInfoResponse" element="tns:imsx_syncResponseHeaderInfo"/>
    </wsdl11:message>
    <wsdl11:message name="deleteMembershipRequest">
        <wsdl11:part name="Parameters" element="tns:deleteMembershipRequest"/>
        <wsdl11:part name="HeaderInfoParameters" element="tns:imsx_syncRequestHeaderInfo"/>
    </wsdl11:message>
    <wsdl11:message name="deleteMembershipResponse">
        <wsdl11:part name="Response" element="tns:deleteMembershipResponse"/>
        <wsdl11:part name="HeaderInfoResponse" element="tns:imsx_syncResponseHeaderInfo"/>
    </wsdl11:message>
    <wsdl11:message name="readMembershipRequest">
        <wsdl11:part name="Parameters" element="tns:readMembershipRequest"/>
        <wsdl11:part name="HeaderInfoParameters" element="tns:imsx_syncRequestHeaderInfo"/>
    </wsdl11:message>
    <wsdl11:message name="readMembershipResponse">
        <wsdl11:part name="Response" element="tns:readMembershipResponse"/>
        <wsdl11:part name="HeaderInfoResponse" element="tns:imsx_syncResponseHeaderInfo"/>
    </wsdl11:message>
    <wsdl11:message name="readAllMembershipIdsRequest">
        <wsdl11:part name="Parameters" element="tns:readAllMembershipIdsRequest"/>
        <wsdl11:part name="HeaderInfoParameters" element="tns:imsx_syncRequestHeaderInfo"/>
    </wsdl11:message>
    <wsdl11:message name="readAllMembershipIdsResponse">
        <wsdl11:part name="Response" element="tns:readAllMembershipIdsResponse"/>
        <wsdl11:part name="HeaderInfoResponse" element="tns:imsx_syncResponseHeaderInfo"/>
    </wsdl11:message>
    <wsdl11:message name="readMembershipIdsFromSavePointRequest">
        <wsdl11:part name="Parameters" element="tns:readMembershipIdsFromSavePointRequest"/>
        <wsdl11:part name="HeaderInfoParameters" element="tns:imsx_syncRequestHeaderInfo"/>
    </wsdl11:message>
    <wsdl11:message name="readMembershipIdsFromSavePointResponse">
        <wsdl11:part name="Response" element="tns:readMembershipIdsFromSavePointResponse"/>
        <wsdl11:part name="HeaderInfoResponse" element="tns:imsx_syncResponseHeaderInfo"/>
    </wsdl11:message>
    <wsdl11:message name="readMembershipIdsForPersonRequest">
        <wsdl11:part name="Parameters" element="tns:readMembershipIdsForPersonRequest"/>
        <wsdl11:part name="HeaderInfoParameters" element="tns:imsx_syncRequestHeaderInfo"/>
    </wsdl11:message>
    <wsdl11:message name="readMembershipIdsForPersonResponse">
        <wsdl11:part name="Response" element="tns:readMembershipIdsForPersonResponse"/>
        <wsdl11:part name="HeaderInfoResponse" element="tns:imsx_syncResponseHeaderInfo"/>
    </wsdl11:message>
    <wsdl11:message name="readMembershipIdsForPersonWithRoleRequest">
        <wsdl11:part name="Parameters" element="tns:readMembershipIdsForPersonWithRoleRequest"/>
        <wsdl11:part name="HeaderInfoParameters" element="tns:imsx_syncRequestHeaderInfo"/>
    </wsdl11:message>
    <wsdl11:message name="readMembershipIdsForPersonWithRoleResponse">
        <wsdl11:part name="Response" element="tns:readMembershipIdsForPersonWithRoleResponse"/>
        <wsdl11:part name="HeaderInfoResponse" element="tns:imsx_syncResponseHeaderInfo"/>
    </wsdl11:message>
    <wsdl11:message name="readMembershipIdsForCollectionRequest">
        <wsdl11:part name="Parameters" element="tns:readMembershipIdsForCollectionRequest"/>
        <wsdl11:part name="HeaderInfoParameters" element="tns:imsx_syncRequestHeaderInfo"/>
    </wsdl11:message>
    <wsdl11:message name="readMembershipIdsForCollectionResponse">
        <wsdl11:part name="Response" element="tns:readMembershipIdsForCollectionResponse"/>
        <wsdl11:part name="HeaderInfoResponse" element="tns:imsx_syncResponseHeaderInfo"/>
    </wsdl11:message>
    <wsdl11:message name="readMembershipsRequest">
        <wsdl11:part name="Parameters" element="tns:readMembershipsRequest"/>
        <wsdl11:part name="HeaderInfoParameters" element="tns:imsx_syncRequestHeaderInfo"/>
    </wsdl11:message>
    <wsdl11:message name="readMembershipsResponse">
        <wsdl11:part name="Response" element="tns:readMembershipsResponse"/>
        <wsdl11:part name="HeaderInfoResponse" element="tns:imsx_syncResponseHeaderInfo"/>
    </wsdl11:message>
    <wsdl11:message name="readMembershipsFromSavePointRequest">
        <wsdl11:part name="Parameters" element="tns:readMembershipsFromSavePointRequest"/>
        <wsdl11:part name="HeaderInfoParameters" element="tns:imsx_syncRequestHeaderInfo"/>
    </wsdl11:message>
    <wsdl11:message name="readMembershipsFromSavePointResponse">
        <wsdl11:part name="Response" element="tns:readMembershipsFromSavePointResponse"/>
        <wsdl11:part name="HeaderInfoResponse" element="tns:imsx_syncResponseHeaderInfo"/>
    </wsdl11:message>
    <wsdl11:message name="updateMembershipRequest">
        <wsdl11:part name="Parameters" element="tns:updateMembershipRequest"/>
        <wsdl11:part name="HeaderInfoParameters" element="tns:imsx_syncRequestHeaderInfo"/>
    </wsdl11:message>
    <wsdl11:message name="updateMembershipResponse">
        <wsdl11:part name="Response" element="tns:updateMembershipResponse"/>
        <wsdl11:part name="HeaderInfoResponse" element="tns:imsx_syncResponseHeaderInfo"/>
    </wsdl11:message>
    <wsdl11:message name="replaceMembershipRequest">
        <wsdl11:part name="Parameters" element="tns:replaceMembershipRequest"/>
        <wsdl11:part name="HeaderInfoParameters" element="tns:imsx_syncRequestHeaderInfo"/>
    </wsdl11:message>
    <wsdl11:message name="replaceMembershipResponse">
        <wsdl11:part name="Response" element="tns:replaceMembershipResponse"/>
        <wsdl11:part name="HeaderInfoResponse" element="tns:imsx_syncResponseHeaderInfo"/>
    </wsdl11:message>
    <wsdl11:message name="discoverMembershipIdsRequest">
        <wsdl11:part name="Parameters" element="tns:discoverMembershipIdsRequest"/>
        <wsdl11:part name="HeaderInfoParameters" element="tns:imsx_syncRequestHeaderInfo"/>
    </wsdl11:message>
    <wsdl11:message name="discoverMembershipIdsResponse">
        <wsdl11:part name="Response" element="tns:discoverMembershipIdsResponse"/>
        <wsdl11:part name="HeaderInfoResponse" element="tns:imsx_syncResponseHeaderInfo"/>
    </wsdl11:message>
    <wsdl11:message name="changeMembershipIdentifierRequest">
        <wsdl11:part name="Parameters" element="tns:changeMembershipIdentifierRequest"/>
        <wsdl11:part name="HeaderInfoParameters" element="tns:imsx_syncRequestHeaderInfo"/>
    </wsdl11:message>
    <wsdl11:message name="changeMembershipIdentifierResponse">
        <wsdl11:part name="Response" element="tns:changeMembershipIdentifierResponse"/>
        <wsdl11:part name="HeaderInfoResponse" element="tns:imsx_syncResponseHeaderInfo"/>
    </wsdl11:message>

    <!-- ================================================================================================== -->

    <!-- Declaration of the WSDL portType elements ******************************************************** -->

    <wsdl11:portType name="MembershipManagerSyncPortType">
        <wsdl11:documentation>
            PortType Description
            --------------------
            This is the MembershipManager interface.  The operations are:
            
            1) CreateMembership
            2) CreateByProxyMembership
            3) DeleteMembership
            4) ReadMembership
            5) ReadAllMembershipIds
            6) ReadMembershipIdsFromSavePoint
            7) ReadMembershipIdsForPerson
            8) ReadMembershipIdsForPersonWIthRole
            9) ReadMembershipIdsForCollection
            10) ReadMemberships
            11) ReadMembershipsFromSavePoint
            12) UpdateMembership
            13) ReplaceMembership
            14) DiscoverMembershipIds
            15) ChangeMembershipIdentifier
        </wsdl11:documentation>
        <wsdl11:operation name="createMembership">
            <wsdl11:documentation>
                Operation Description
                ---------------------
                
            </wsdl11:documentation>
            <wsdl11:input message="tns:createMembershipRequest"/>
            <wsdl11:output message="tns:createMembershipResponse"/>
        </wsdl11:operation>
        <wsdl11:operation name="createByProxyMembership">
            <wsdl11:documentation>
                Operation Description
                ---------------------
                
            </wsdl11:documentation>
            <wsdl11:input message="tns:createByProxyMembershipRequest"/>
            <wsdl11:output message="tns:createByProxyMembershipResponse"/>
        </wsdl11:operation>
        <wsdl11:operation name="deleteMembership">
            <wsdl11:documentation>
                Operation Description
                ---------------------
                
            </wsdl11:documentation>
            <wsdl11:input message="tns:deleteMembershipRequest"/>
            <wsdl11:output message="tns:deleteMembershipResponse"/>
        </wsdl11:operation>
        <wsdl11:operation name="readMembership">
            <wsdl11:documentation>
                Operation Description
                ---------------------
                
            </wsdl11:documentation>
            <wsdl11:input message="tns:readMembershipRequest"/>
            <wsdl11:output message="tns:readMembershipResponse"/>
        </wsdl11:operation>
        <wsdl11:operation name="readAllMembershipIds">
            <wsdl11:documentation>
                Operation Description
                ---------------------
                
            </wsdl11:documentation>
            <wsdl11:input message="tns:readAllMembershipIdsRequest"/>
            <wsdl11:output message="tns:readAllMembershipIdsResponse"/>
        </wsdl11:operation>
        <wsdl11:operation name="readMembershipIdsFromSavePoint">
            <wsdl11:documentation>
                Operation Description
                ---------------------
                
            </wsdl11:documentation>
            <wsdl11:input message="tns:readMembershipIdsFromSavePointRequest"/>
            <wsdl11:output message="tns:readMembershipIdsFromSavePointResponse"/>
        </wsdl11:operation>
        <wsdl11:operation name="readMembershipIdsForPerson">
            <wsdl11:documentation>
                Operation Description
                ---------------------
                
            </wsdl11:documentation>
            <wsdl11:input message="tns:readMembershipIdsForPersonRequest"/>
            <wsdl11:output message="tns:readMembershipIdsForPersonResponse"/>
        </wsdl11:operation>
        <wsdl11:operation name="readMembershipIdsForPersonWithRole">
            <wsdl11:documentation>
                Operation Description
                ---------------------
                
            </wsdl11:documentation>
            <wsdl11:input message="tns:readMembershipIdsForPersonWithRoleRequest"/>
            <wsdl11:output message="tns:readMembershipIdsForPersonWithRoleResponse"/>
        </wsdl11:operation>
        <wsdl11:operation name="readMembershipIdsForCollection">
            <wsdl11:documentation>
                Operation Description
                ---------------------
                
            </wsdl11:documentation>
            <wsdl11:input message="tns:readMembershipIdsForCollectionRequest"/>
            <wsdl11:output message="tns:readMembershipIdsForCollectionResponse"/>
        </wsdl11:operation>
        <wsdl11:operation name="readMemberships">
            <wsdl11:documentation>
                Operation Description
                ---------------------
                
            </wsdl11:documentation>
            <wsdl11:input message="tns:readMembershipsRequest"/>
            <wsdl11:output message="tns:readMembershipsResponse"/>
        </wsdl11:operation>
        <wsdl11:operation name="readMembershipsFromSavePoint">
            <wsdl11:documentation>
                Operation Description
                ---------------------
                
            </wsdl11:documentation>
            <wsdl11:input message="tns:readMembershipsFromSavePointRequest"/>
            <wsdl11:output message="tns:readMembershipsFromSavePointResponse"/>
        </wsdl11:operation>
        <wsdl11:operation name="updateMembership">
            <wsdl11:documentation>
                Operation Description
                ---------------------
                
            </wsdl11:documentation>
            <wsdl11:input message="tns:updateMembershipRequest"/>
            <wsdl11:output message="tns:updateMembershipResponse"/>
        </wsdl11:operation>
        <wsdl11:operation name="replaceMembership">
            <wsdl11:documentation>
                Operation Description
                ---------------------
                
            </wsdl11:documentation>
            <wsdl11:input message="tns:replaceMembershipRequest"/>
            <wsdl11:output message="tns:replaceMembershipResponse"/>
        </wsdl11:operation>
        <wsdl11:operation name="discoverMembershipIds">
            <wsdl11:documentation>
                Operation Description
                ---------------------
                
            </wsdl11:documentation>
            <wsdl11:input message="tns:discoverMembershipIdsRequest"/>
            <wsdl11:output message="tns:discoverMembershipIdsResponse"/>
        </wsdl11:operation>
        <wsdl11:operation name="changeMembershipIdentifier">
            <wsdl11:documentation>
                Operation Description
                ---------------------
                
            </wsdl11:documentation>
            <wsdl11:input message="tns:changeMembershipIdentifierRequest"/>
            <wsdl11:output message="tns:changeMembershipIdentifierResponse"/>
        </wsdl11:operation>
    </wsdl11:portType>

    <!-- ================================================================================================== -->

    <!-- Declaration of the WSDL binding elements ********************************************************* -->

    <wsdl11:binding name="MembershipManagerSyncSoapBinding" type="tns:MembershipManagerSyncPortType">
        <soap11:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl11:operation name="createMembership">
            <soap11:operation soapAction="http://www.imsglobal.org/soap/lis/mms2p0/createMembership" style="document"/>
            <wsdl11:input>
                <soap11:body use="literal" parts="Parameters"/>
                <soap11:header message="tns:createMembershipRequest" part="HeaderInfoParameters" use="literal" wsdl11:required="true"/>
            </wsdl11:input>
            <wsdl11:output>
                <soap11:body use="literal" parts="Response"/>
                <soap11:header message="tns:createMembershipResponse" part="HeaderInfoResponse" use="literal" wsdl11:required="true"/>
            </wsdl11:output>
        </wsdl11:operation>
        <wsdl11:operation name="createByProxyMembership">
            <soap11:operation soapAction="http://www.imsglobal.org/soap/lis/mms2p0/createByProxyMembership" style="document"/>
            <wsdl11:input>
                <soap11:body use="literal" parts="Parameters"/>
                <soap11:header message="tns:createByProxyMembershipRequest" part="HeaderInfoParameters" use="literal" wsdl11:required="true"/>
            </wsdl11:input>
            <wsdl11:output>
                <soap11:body use="literal" parts="Response"/>
                <soap11:header message="tns:createByProxyMembershipResponse" part="HeaderInfoResponse" use="literal" wsdl11:required="true"/>
            </wsdl11:output>
        </wsdl11:operation>
        <wsdl11:operation name="deleteMembership">
            <soap11:operation soapAction="http://www.imsglobal.org/soap/lis/mms2p0/deleteMembership" style="document"/>
            <wsdl11:input>
                <soap11:body use="literal" parts="Parameters"/>
                <soap11:header message="tns:deleteMembershipRequest" part="HeaderInfoParameters" use="literal" wsdl11:required="true"/>
            </wsdl11:input>
            <wsdl11:output>
                <soap11:body use="literal" parts="Response"/>
                <soap11:header message="tns:deleteMembershipResponse" part="HeaderInfoResponse" use="literal" wsdl11:required="true"/>
            </wsdl11:output>
        </wsdl11:operation>
        <wsdl11:operation name="readMembership">
            <soap11:operation soapAction="http://www.imsglobal.org/soap/lis/mms2p0/readMembership" style="document"/>
            <wsdl11:input>
                <soap11:body use="literal" parts="Parameters"/>
                <soap11:header message="tns:readMembershipRequest" part="HeaderInfoParameters" use="literal" wsdl11:required="true"/>
            </wsdl11:input>
            <wsdl11:output>
                <soap11:body use="literal" parts="Response"/>
                <soap11:header message="tns:readMembershipResponse" part="HeaderInfoResponse" use="literal" wsdl11:required="true"/>
            </wsdl11:output>
        </wsdl11:operation>
        <wsdl11:operation name="readAllMembershipIds">
            <soap11:operation soapAction="http://www.imsglobal.org/soap/lis/mms2p0/readAllMembershipIds" style="document"/>
            <wsdl11:input>
                <soap11:body use="literal" parts="Parameters"/>
                <soap11:header message="tns:readAllMembershipIdsRequest" part="HeaderInfoParameters" use="literal" wsdl11:required="true"/>
            </wsdl11:input>
            <wsdl11:output>
                <soap11:body use="literal" parts="Response"/>
                <soap11:header message="tns:readAllMembershipIdsResponse" part="HeaderInfoResponse" use="literal" wsdl11:required="true"/>
            </wsdl11:output>
        </wsdl11:operation>
        <wsdl11:operation name="readMembershipIdsFromSavePoint">
            <soap11:operation soapAction="http://www.imsglobal.org/soap/lis/mms2p0/readMembershipIdsFromSavePoint" style="document"/>
            <wsdl11:input>
                <soap11:body use="literal" parts="Parameters"/>
                <soap11:header message="tns:readMembershipIdsFromSavePointRequest" part="HeaderInfoParameters" use="literal" wsdl11:required="true"/>
            </wsdl11:input>
            <wsdl11:output>
                <soap11:body use="literal" parts="Response"/>
                <soap11:header message="tns:readMembershipIdsFromSavePointResponse" part="HeaderInfoResponse" use="literal" wsdl11:required="true"/>
            </wsdl11:output>
        </wsdl11:operation>
        <wsdl11:operation name="readMembershipIdsForPerson">
            <soap11:operation soapAction="http://www.imsglobal.org/soap/lis/mms2p0/readMembershipIdsForPerson" style="document"/>
            <wsdl11:input>
                <soap11:body use="literal" parts="Parameters"/>
                <soap11:header message="tns:readMembershipIdsForPersonRequest" part="HeaderInfoParameters" use="literal" wsdl11:required="true"/>
            </wsdl11:input>
            <wsdl11:output>
                <soap11:body use="literal" parts="Response"/>
                <soap11:header message="tns:readMembershipIdsForPersonResponse" part="HeaderInfoResponse" use="literal" wsdl11:required="true"/>
            </wsdl11:output>
        </wsdl11:operation>
        <wsdl11:operation name="readMembershipIdsForPersonWithRole">
            <soap11:operation soapAction="http://www.imsglobal.org/soap/lis/mms2p0/readMembershipIdsForPersonWithRole" style="document"/>
            <wsdl11:input>
                <soap11:body use="literal" parts="Parameters"/>
                <soap11:header message="tns:readMembershipIdsForPersonWithRoleRequest" part="HeaderInfoParameters" use="literal" wsdl11:required="true"/>
            </wsdl11:input>
            <wsdl11:output>
                <soap11:body use="literal" parts="Response"/>
                <soap11:header message="tns:readMembershipIdsForPersonWithRoleResponse" part="HeaderInfoResponse" use="literal" wsdl11:required="true"/>
            </wsdl11:output>
        </wsdl11:operation>
        <wsdl11:operation name="readMembershipIdsForCollection">
            <soap11:operation soapAction="http://www.imsglobal.org/soap/lis/mms2p0/readMembershipIdsForCollection" style="document"/>
            <wsdl11:input>
                <soap11:body use="literal" parts="Parameters"/>
                <soap11:header message="tns:readMembershipIdsForCollectionRequest" part="HeaderInfoParameters" use="literal" wsdl11:required="true"/>
            </wsdl11:input>
            <wsdl11:output>
                <soap11:body use="literal" parts="Response"/>
                <soap11:header message="tns:readMembershipIdsForCollectionResponse" part="HeaderInfoResponse" use="literal" wsdl11:required="true"/>
            </wsdl11:output>
        </wsdl11:operation>
        <wsdl11:operation name="readMemberships">
            <soap11:operation soapAction="http://www.imsglobal.org/soap/lis/mms2p0/readMemberships" style="document"/>
            <wsdl11:input>
                <soap11:body use="literal" parts="Parameters"/>
                <soap11:header message="tns:readMembershipsRequest" part="HeaderInfoParameters" use="literal" wsdl11:required="true"/>
            </wsdl11:input>
            <wsdl11:output>
                <soap11:body use="literal" parts="Response"/>
                <soap11:header message="tns:readMembershipsResponse" part="HeaderInfoResponse" use="literal" wsdl11:required="true"/>
            </wsdl11:output>
        </wsdl11:operation>
        <wsdl11:operation name="readMembershipsFromSavePoint">
            <soap11:operation soapAction="http://www.imsglobal.org/soap/lis/mms2p0/readMembershipsFromSavePoint" style="document"/>
            <wsdl11:input>
                <soap11:body use="literal" parts="Parameters"/>
                <soap11:header message="tns:readMembershipsFromSavePointRequest" part="HeaderInfoParameters" use="literal" wsdl11:required="true"/>
            </wsdl11:input>
            <wsdl11:output>
                <soap11:body use="literal" parts="Response"/>
                <soap11:header message="tns:readMembershipsFromSavePointResponse" part="HeaderInfoResponse" use="literal" wsdl11:required="true"/>
            </wsdl11:output>
        </wsdl11:operation>
        <wsdl11:operation name="updateMembership">
            <soap11:operation soapAction="http://www.imsglobal.org/soap/lis/mms2p0/updateMembership" style="document"/>
            <wsdl11:input>
                <soap11:body use="literal" parts="Parameters"/>
                <soap11:header message="tns:updateMembershipRequest" part="HeaderInfoParameters" use="literal" wsdl11:required="true"/>
            </wsdl11:input>
            <wsdl11:output>
                <soap11:body use="literal" parts="Response"/>
                <soap11:header message="tns:updateMembershipResponse" part="HeaderInfoResponse" use="literal" wsdl11:required="true"/>
            </wsdl11:output>
        </wsdl11:operation>
        <wsdl11:operation name="replaceMembership">
            <soap11:operation soapAction="http://www.imsglobal.org/soap/lis/mms2p0/replaceMembership" style="document"/>
            <wsdl11:input>
                <soap11:body use="literal" parts="Parameters"/>
                <soap11:header message="tns:replaceMembershipRequest" part="HeaderInfoParameters" use="literal" wsdl11:required="true"/>
            </wsdl11:input>
            <wsdl11:output>
                <soap11:body use="literal" parts="Response"/>
                <soap11:header message="tns:replaceMembershipResponse" part="HeaderInfoResponse" use="literal" wsdl11:required="true"/>
            </wsdl11:output>
        </wsdl11:operation>
        <wsdl11:operation name="discoverMembershipIds">
            <soap11:operation soapAction="http://www.imsglobal.org/soap/lis/mms2p0/discoverMembershipIds" style="document"/>
            <wsdl11:input>
                <soap11:body use="literal" parts="Parameters"/>
                <soap11:header message="tns:discoverMembershipIdsRequest" part="HeaderInfoParameters" use="literal" wsdl11:required="true"/>
            </wsdl11:input>
            <wsdl11:output>
                <soap11:body use="literal" parts="Response"/>
                <soap11:header message="tns:discoverMembershipIdsResponse" part="HeaderInfoResponse" use="literal" wsdl11:required="true"/>
            </wsdl11:output>
        </wsdl11:operation>
        <wsdl11:operation name="changeMembershipIdentifier">
            <soap11:operation soapAction="http://www.imsglobal.org/soap/lis/mms2p0/changeMembershipIdentifier" style="document"/>
            <wsdl11:input>
                <soap11:body use="literal" parts="Parameters"/>
                <soap11:header message="tns:changeMembershipIdentifierRequest" part="HeaderInfoParameters" use="literal" wsdl11:required="true"/>
            </wsdl11:input>
            <wsdl11:output>
                <soap11:body use="literal" parts="Response"/>
                <soap11:header message="tns:changeMembershipIdentifierResponse" part="HeaderInfoResponse" use="literal" wsdl11:required="true"/>
            </wsdl11:output>
        </wsdl11:operation>
    </wsdl11:binding>

    <!-- ================================================================================================== -->

    <!-- Declaration of the WSDL service elements ********************************************************* -->

    <wsdl11:service name="MembershipManagementServiceSyncService">
        <wsdl11:documentation>
            Service Information
            -------------------
            Author:         Colin Smythe
            Date:           31st January, 2010
            Version:        1.0
            Status:         Public Draft Release
            Description:    The Membership Management Service is composed of a single  interface.
            History:        Version 1.0: This is the first formal release of this service.
        </wsdl11:documentation>
        <wsdl11:port name="MembershipManagerSyncSoapPort" binding="tns:MembershipManagerSyncSoapBinding">
            <soap11:address location="https://www.turnitin.com/api/soap/1p0/lis-membership/"/>
        </wsdl11:port>
    </wsdl11:service>

    <!-- ================================================================================================== -->

</wsdl11:definitions>
